.primary{
    font-family: "Roboto Light", serif;
    font-size: 5rem;
    color: cornsilk;
}
.squareMarksList{
    list-style: square;
    background-color: beige;
}

.evenUl{
    background-color: cornflowerblue;
}

.oddUl{
    background-color: aquamarine;
}